<% content_for :menu do%>
<%= render "Partial/menu"%>
<% end %>

<% content_for :sidebar do %>
<%= render "Partial/sidebar"%>
<% end %>

<div class="well">
	<h1> Skapa ticket</h1>

	<% if @ticket.errors.any? %>
		<div id="error_messages">
			<h3 class="text-error"><%= pluralize(@ticket.errors.count, "fel", "fel") %> i formuläret gjorde att ticketen inte kunde sparas:</h3>
			<ul>
			<% @ticket.errors.each do |attr,msg| %>
				<li class="text-error"><%= msg %></li>
			<% end %>
			</ul>
		</div>
	<% end %>

	<%= form_for @ticket do |f| %>
		
		<div class="text_field">
			<%= f.label :Namn %>
			<%= f.text_field :name %>
		</div>

		<div class="text_area">
			<%= f.label :Beskrivning %>
			<%= f.text_area :description, :rows =>"4" %>
		</div>

		<div class="date_field">
			<%= f.label "Startar:" %>
			<%=f.datetime_select(:start_time, :start_year => 2013, :prompt => true) %>
		</div>

		<div class="date_field">
			<%= f.label "Slutar:" %>
			<%=f.datetime_select(:end_time, :start_year => 2013, :prompt => true) %>
		</div>

		<%= f.hidden_field :user_id , :value => @user_id %>
		<%= f.hidden_field :project_id , :value => @project %>

		<%= f.label "Status:" %>
		<div class="select">
			<%= f.select :status_id, options_from_collection_for_select(Status.all, :id, :status_name) %>
		</div>

		<div class="submit">
			<%= f.submit "Skapa ticket", :class => "btn" %>
		</div>

	<% end %>
</div>