<h1><%= @ticket.name %></h1> 

<p><%= @ticket.description %></p>

<p>Start: <%= @ticket.start_time.strftime("Datum:%d/%m/%y Tid: %I:%M") %></p>

<p>Slut: <%= @ticket.end_time.strftime("Datum:%d/%m/%y Tid: %I:%M") %></p>

<%= link_to 'Ta bort', ticket_path, :method => :delete %>

<%= link_to 'Redigera', edit_ticket_path(@ticket) %>

<% if flash[:notice] %>
		<div class="notice"><%= flash[:notice] %></div>
	<% end %>