<% content_for :menu do%>
<%= render "Partial/menu"%>
<% end %>

<% content_for :sidebar do %>
<%= render "Partial/sidebar"%>
<% end %>

<div class= "well">
	<h1><%= @ticket.name %></h1> 

	<p><%= @ticket.description %></p>

	<% if @ticket.start_time%>
		<p><strong>Start:</strong> <%= @ticket.start_time.strftime("%d/%m/%Y Kl: %I:%M") %></p>
	<% end %>

	<% if @ticket.end_time%>
		<p><strong>Slut:</strong> <%= @ticket.end_time.strftime("%d/%m/%Y Kl: %I:%M") %></p>
	<% end %>
	
	<p><strong>Status:</strong> <%= @status_name %> </p>

	<p><strong>Ägare:</strong> <%= @first_name %> <%= @last_name %></p>

	<div class="buttons">
		<%= link_to 'Editera ticket', edit_ticket_path(@ticket), :class=>"btn" %>
		<%= link_to 'Ta bort ticket', ticket_path, :method => :delete, :confirm => 'Är du säker?', :class =>"btn" %>
	</div>

	<div class="flash">
		<% if flash[:notice] %>
			<div class="alert alert-success"><%= flash[:notice] %></div>
		<% end %>
	</div>
</div>	