<% content_for :menu do%>
<%= render "Partial/menu"%>
<% end %>

<% content_for :sidebar do %>
<%= render "Partial/sidebar"%>
<% end %>


<h1><%= @ticket.name %></h1> 

<p><%= @ticket.description %></p>


<% if @ticket.start_time%>
	<p>Start: <%= @ticket.start_time.strftime("Datum:%d/%m/%y Tid: %I:%M") %></p>
<% end %>

<% if @ticket.end_time%>
<p>Slut: <%= @ticket.end_time.strftime("Datum:%d/%m/%y Tid: %I:%M") %></p>
<% end %>
<p>Status: <%= @status_name %> </p>

<p>Ägare: <%= @first_name %> <%= @last_name %></p>

<%= link_to 'Ta bort', ticket_path, :method => :delete, :confirm => 'Är du säker?' %>

<%= link_to 'Redigera', edit_ticket_path(@ticket) %>
<div class="flash">
<% if flash[:notice] %>
		<div class="alert alert-success"><%= flash[:notice] %></div>
<% end %>
</div>
	