<% content_for :menu do%>
<%= render "Partial/menu"%>
<% end %>

<% content_for :sidebar do %>
<%= render "Partial/sidebar"%>
<% end %>

<div class="well">
	<h2><%= @user.first_name %> <%= @user.last_name %></h2> 

	<p><strong>Email: </strong><%= @user.email %></p>
</div>

