

<h1> Välkommen</h1>




<div class= "Login_Form">
	<h2>Logga in</h2>
	<%= form_tag(:action => 'login_attempt') do %>
		<p>Email:</br> <%= text_field_tag(:email) %></p> 
		<p>Lösenord:</br> <%= password_field_tag :password %></p> 
		<%= submit_tag("Logga in") %>
	<% end %>
</div>

<% if flash[ :notice] %>
	<%= flash[ :notice] %>
	<% end %>